- content_for :head do
  %title Модерация комментариев — #{story['title']}
  = stylesheet_link_tag :comments

= form_tag session_path, method: :delete, class: 'exit' do
  = submit_tag 'Выход'
.comments-moderation
  - @posts.reverse_each do |post|
    - next if post.unmoderated_comments.empty?
    %section
      %h1
        %a{ href: post.url }
          = post.title
          .count= post.unmoderated_comments.count
