- content_for :head do
  %title Модерация комментариев — #{book_title}
  = include_fonts
  = stylesheet_link_tag    :comments_moderation
  = include_jquery
  = javascript_include_tag :comments_moderation

= form_tag session_path, method: :delete, class: 'exit' do
  = submit_tag 'Выход'
.comments-moderation
  - unmoderated = false
  - @posts.reverse_each do |post|
    - next if post.unmoderated_comments.empty?
    - unmoderated = true
    %section
      %h1
        %a{ href: post.url }
          %span= post.title + ' — ' + post.story_title
          .count= post.unmoderated_comments.count
      - post.unmoderated_comments.each do |comment|
        %article.comment{ class_if('real-life', comment.real_life?) }
          - if comment.real_life?
            .to-author автору
          = comment.html
          .quote-arrow
            .rotate
          .info
            —
            %span.author
              = comment.author_name + ','
              - if comment.author_email.present?
                = mail_to(comment.author_email) + ', '
            %span.time{ title: R18n.l(comment.created_at, :full) }
              = R18n.l comment.created_at, :human
          .buttons
            = form_tag comment_path(comment.id), method: :delete do
              %input.delete.black-button( type="submit" title="Удалить" value="×" )
            = form_tag publish_comment_path(comment.id) do
              %input.public.black-button( type="submit" title="Опубликовать" value="↑" )
            = form_tag publish_comment_path(comment.id) do
              %input( type="hidden" name="important" value="1" )
              %input.star.black-button( type="submit" title="Опубликовать как важный" value="*" )
          %article.answer
            = form_tag answer_comment_path(comment.id) do
              %textarea( name="answer" )= comment.for_author? ? 'a' : 'h'
              .quote-arrow
                .rotate
              .buttons
                %input.save.black-button( type="submit" title="Ответить" value="↲" )
  - unless unmoderated
    .empty Все комментарии проверены
