.post-comments
  .motivation
    = random_comment_motivation_prefix
    %a( href="#" role="add-comment" )
      %span.text= random_comment_motivation_postfix
      %span.arrow ↓
  = render partial: 'comments_list', locals: { comments: @post.important_comments }
  .unimportant-comments( role="more-comments" )
    = render partial: 'comments_list', locals: { comments: @post.unimportant_comments }
  .comments-controls
    %a.show-more-comments( href="#" role="show-more-comments" )
      - if @post.comments.empty?
        Комментариев ещё нет
      - elsif @post.unimportant_comments.empty?
        Больше комментариев нет
      - else
        - if @post.important_comments.empty?
          Показать
        - else
          Показать ещё
        - count = @post.unimportant_comments.count
        = pl count, 'комментарий', 'комментария', 'комментариев'
      .crop
        .arrow
    %a.add-comment( href="#" role="add-comment" )
      Добавить комментарий
      .crop
        .arrow
= render 'new_comment'
