- comments.each do |comment|
  %a.comment-anchor{ name: comment.hash }
  %article.comment{ class_if('real-life', comment.real_life?), data: { id: comment.id, number: comment.number } }
    - if comment.real_life?
      - if comment.for_author?
        .to-author комментарий для автора
      - else
        .to-author ответ от автора
    = comment.html
    .quote-arrow
      .rotate
    .info
      —
      = comment.author_name + ','
      %span.time= R18n.l comment.created_at, :full
      %a.comment-link{ href: comment.url } #
    - if comment.answer
      %article.answer
        = comment.answer.html
        .quote-arrow
          .rotate
        .info
          —
          - if comment.answer.from_author?
            Автор,
          - else
            Герой,
          %span.time= R18n.l comment.answer.created_at, :full
