%header.top-menu{ class_if('hidden', @hide_top_menu), role: 'top-menu-slider' }
  .top-menu-rotator( role="top-menu-rotator" )
    .center
      %a.story-title( href="/" role="home" )
        .story-logo
        = story['title']

      - prevPage = @post.try(:prev)
      - nextPage = @post.try(:next)
      - isFirst  = prevPage.nil? or prevPage.title?
      .prev-next{ class_if('first', isFirst), class_if('last', !nextPage), role: 'prev-next-page' }
        %a.prev.to-page( title="Предыдущая запись" href="#{prevPage.try(:url)}" role="prev-page" ) ↑
        %a.prev.to-title( title="Обложка" href="#{root_path}" ) ↑
        %a.next.to-page( title="Следующая запись" href="#{nextPage.try(:url)}" role="next-page" ) ↓
        %a.next.waiting( title="Продолжение следует" href="#" role="go-to-be-continue" ) ↓

      .post-title
        .top-title( role="prev-title-top title-slider" )
        .current-title( role="current-title" )= @post.try(:title)
        .bottom-title( role="prev-title-bottom" )
      .subscribe-and-share

        .slide-button.subscribe
          %a.button( role="top-menu-open" href="#subscribe" )
            .icon
            Подпишись
          .content
            .arrow
              .rotated
            .social-widget.vk
              .vk-subscribe
                .vk-crop
                  #vk_top_group
            .social-widget.twitter
              = twitter_subscribe('insomnis_story')
            .social-widget.rss
              %a.rss-link( href="#{ feed_path }" role="rss-link" )
                .rss-icon
                Читать по RSS

        .slide-button.share
          %a.button( role="top-menu-open" href="#share" )
            .icon
            Расскажи друзьям
          .content
            .arrow
              .rotated
            .social-widget.vk
              #vk_top_like
            .social-widget.twitter
              = twitter_share('insomnis_story', root_url, 'Инсомнис — книга в виде блога')
      .slide-button.what-is-it
        %a.button( role="top-menu-open" href="#what-is-it" )
          .icon
          Что это такое?
        .content
          .arrow
            .rotated
          %p
            Инсомнис — книга в формате блога.
          %p
            Герой из научно-фантастического мира пишет дневник прямо по ходу
            развития событий
          %p
            Он отвечает и прислушивается к вашим комментарии.
