%header.top-menu{ class_if('hidden', @hide_top_menu), role: 'top-menu-slider' }
  .top-menu-rotator( role="top-menu-rotator" )
    .center
      %a.story-title( href="/" role="home" )
        .story-logo
        = book_title

      - prevPage = @post.try(:prev)
      - nextPage = @post.try(:next)
      - isFirst  = prevPage.nil? or prevPage.title?
      .prev-next{ class_if('first', isFirst), class_if('last', !nextPage), role: 'prev-next-page' }
        %a.prev.to-page( title="Предыдущая запись" href="#{prevPage.try(:url)}" role="prev-page" ) ↑
        %a.prev.to-title( title="Обложка" href="#{root_path}" ) ↑
        %a.next.to-page( title="Следующая запись" href="#{nextPage.try(:url)}" role="next-page" ) ↓
        - if @post.try(:draft?)
          %a.next.waiting( href="#" role="go-to-be-continue" ) ↓
        - else
          %a.next.waiting( title="Продолжение следует" href="#" role="go-to-be-continue" ) ↓

      .post-title
        .top-title( role="prev-title-top title-slider" )
        .current-title( role="current-title" )= @post.try(:title)
        .bottom-title( role="prev-title-bottom" )
      .subscribe-and-share

        .slide-button.subscribe
          %a.button( role="top-menu-open" href="#" )
            .icon
            Подпишись
          .content
            .arrow
              .rotated
            .vk-subscribe
              .vk-crop
                #vk_top_group.vk-group-widget
            .twitter-subscribe
              = twitter_subscribe

        .slide-button.share
          %a.button( role="top-menu-open" href="#" )
            .icon
            Расскажи друзьям
          .content
            .arrow
              .rotated
            .vk-share
              #vk_top_like
            .twitter-share
              = twitter_share
      .slide-button.what-is-it
        %a.button( role="top-menu-open" href="#" )
          .icon
          Что это такое?
        .content
          .arrow
            .rotated
          %p
            Инсомнис — блог из другого мира.
          %p
            В отличии от книги вы можете общаться с героем прямо
            по ходу развития событий.
