!!! XML
- root = root_url.sub(/\/$/, '')
- id_prefix = "tag:#{request.host},2011:"
%feed( xmlns="http://www.w3.org/2005/Atom" xml:lang="ru" )
  %title= book_title
  %link( rel="self" href="#{root}/posts.atom" type="application/atom+xml" )/
  %link( href="#{root}/" type="text/html" )/
  %updated= @entries.last.updated_at.xmlschema
  %author
    %name Автор Инсомниса
    %email insomnis.story@gmail.com
  %id= id_prefix + '/posts.atom'
  - @entries.reverse_each do |entry|
    %entry
      %updated= entry.updated_at.xmlschema
      %link( href="#{root + entry.url}" )/
      - if entry.is_a? Post
        %title= entry.title
        %id= id_prefix + entry.url
        %content( type="xhtml"  )
          %div( xmlns="http://www.w3.org/1999/xhtml" )
            = entry.html

            %p
              %a{ href: root + entry.url }
                Оставить комментарий герою или автору
      - elsif entry.is_a? Comment
        %title Комментарий № #{entry.number} к «#{entry.post.title}»
        %id= id_prefix + 'comment' + entry.id.to_s
        %author
          %name= entry.author_name
        %content( type="xhtml"  )
          %div( xmlns="http://www.w3.org/1999/xhtml" )
            %a{ href: root + entry.url }
              Комментарий
            - if entry.for_author?
              автору
            к записи
            «<a href="#{ root + entry.post.url }">#{entry.post.title}</a>»:
            %blockquote= entry.html
            - if entry.answer
              - if entry.for_hero? and entry.answer.from_author?
                Ответ от автора:
              - else
                Ответ:
              %blockquote= entry.answer.html
