- title @post.title, @post.story_title

- unless @all_posts
  = render 'top_menu'

- data = { title: @post.title, story: @post.story_title, url: @post.url }
- data['draft'] = 1 if @post.draft?
%article.post-page.page{ class_if('last-post', !@post.next), class_if('first-post', @post.prev.title?), data: data }
  .post-center
    .paper
      - if @post.draft?
        .will-be-published
          автоматическая публикация
          = R18n.l @post.published_at, :human
        .draft-badge
          .text
            .rotated Черновик
          .crop
            .left-corner
            .right-corner
      - elsif @post.date
        .date-badge
          .year
            .hightlight( role="hightlight-year" )
            .text= @post.date.year
          .date
            .month= R18n.l @post.date, '%b'
            .day= @post.date.mday
          .crop
            .left-corner
            .right-corner
      = output_symbols @post.html

    - if @post.links.present?
      .post-links
        %h6 См. также
        %ul
          - @post.links.each do |link|
            %li
              %a{ href: link_href(link), role: 'post-link' }
                .crop
                  .corner
                .title= link.title
                %p
                  - if link.wiki?
                    = link.description || Post::Wiki.wikipedia
                  - else
                    = link.description

    - unless @post.draft?
      = render 'comments'

    - if @post.next and not @all_posts
      .next-post
        %a.black-button( href="#{@post.next.url}" )
          .arrow ↓
          .text
            Следующая запись

- unless @all_posts or @post.draft?
  = render 'to_be_continue'
