- unless @all_posts
  - @hide_top_menu = true
  = render 'top-menu'

%article.title-page( data-url="/" )
  .book
    .book-wrap
      .bottom
      - (2..12).to_a.reverse_each do |i|
        .page( class="page#{i} #{(i % 2).zero? ? 'even' : 'odd'}" )
      .page.page1.odd
        .text= @first.html
      .rotator
        .back-side
          .paper
          .back-side-shadow
        .title
          .head
          = @title.html

      .controls
        - @start = (not @reading or (@reading == @first and not @new_post))
        .start-reading{ class_if('hide', !@start) }
          = open_badge 'Начать чтение', @first, :start

        - @continue = (not @start and not @reading_last)
        .continue-reading{ class_if('hide', !@continue) }
          = open_badge 'Продолжить чтение', @reading, :continue
          .restart
            .or или
            %a( href="#{@first.url}" role="open-book" )
              начать сначала

        - @wait = (@reading_last and not @new_post)
        .wait-new-post{ class_if('hide', !@wait) }
          .wait-title Продолжение скоро выйдет
          %a( href="#{@last.url}" role="open-book" )
            последняя глава
          .or или
          %a( href="#{@first.url}" role="open-book" )
            начать сначала

        - @new = (@reading_last and @new_post)
        - if @new
          .new-post
            = open_badge 'Открыть новую главу', @new_post, :continue
            .restart.with-new-post
              .or или
              %a( href="#{@first.url}" role="open-book" )
                начать сначала
