- unless @all_posts
  - @hide_top_menu = true
  = render 'top-menu'

.title-page.page-content( data-url="/" )
  .book
    .book-wrap
      .bottom
      - (1..12).to_a.reverse_each do |i|
        .page( class="page#{i} #{(i % 2).zero? ? 'even' : 'odd'}" )
      .rotator
        .back-side
          .paper
          .back-side-shadow
        .title
          .head
          = @title.html
          .title-light
      %a.open-badge.new( href="#{@first.url}" role="start-reading" )
        .border.no-right
        .gradient
        .crop-shadow
          .shadow
        .crop-arrow
          .arrow
            .border
        Начать чтение
