- unless @all_posts
  - @hide_top_menu = true
  = render 'top-menu'

%article.title-page( data-url="/" )
  .book
    .book-wrap
      .bottom
      - (1..12).to_a.reverse_each do |i|
        .page( class="page#{i} #{(i % 2).zero? ? 'even' : 'odd'}" )
      .rotator
        .back-side
          .paper
          .back-side-shadow
        .title
          .head
          = @title.html
          .title-light
      - if @reading and (@reading != @first or @new_post)
        - if @reading_last
          - if @new_post
            = open_badge 'Открыть новую главу', @reading.next, :continue
            .restart.with-new-post
              .or или
              %a( href="#{@first.url}" role="open-book" )
                начать сначала
          - else
            .wait
              .wait-title Продолжение скоро выйдет
              %a( href="#{@reading.url}" role="open-book" )
                последняя глава
              .or или
              %a( href="#{@first.url}" role="open-book" )
                начать сначала
        - else
          = open_badge 'Продолжить чтение', @reading, :continue
          .restart
            .or или
            %a( href="#{@first.url}" role="open-book" )
              начать сначала
      - else
        = open_badge 'Начать чтение', @first, :start
