!!! 5
%html
  %head
    %meta( charset='UTF-8' )
    %title
      - title = yield(:title)
      = title.present? ? title + ' — ' +story['title'] : story['title']

    = favicon_link_tag
    = enable_html5_for_ie
    = stylesheet_link_tag :quick
    = stylesheet_link_tag :application
    = include_fonts

    = include_jquery
    = javascript_include_tag :application

    = yield :head

    - if Rails.env.production?
      = render 'shared/counter'

    - hash = Digest::SHA1.hexdigest "Автор: Андрей Ситник <andrey@sitnik.ru>\n"
    = "<!-- #{hash} -->".html_safe
  %body.no-js
    :javascript
      document.body.className = 'js';
      plague.detect3d()
    .full-loader
      .center
        Загрузка…
        .ouroboros
    = yield
    .disabled-js
      Если включить JavaScript, то сайт станет гораздо удобнее.
