!!! 5
%html
  %head
    %meta( charset='UTF-8' )
    %title
      - title = yield(:title)
      = title.present? ? title + ' — ' + book_title : book_title

    = favicon_link_tag
    = enable_html5_for_ie
    = stylesheet_link_tag :application, media: :all, type: nil
    = include_fonts

    = render 'shared/console'
    = include_jquery
    = javascript_include_tag :application, type: nil

    %link( rel="alternate" type="application/atom+xml" href="#{ feed_url }" )

    = render 'shared/meta'

    - if Rails.env.production?
      :css
        #{Rails.root.join('public/assets/quick.css').read}
    - else
      = stylesheet_link_tag :quick, media: :all, type: nil

    = yield :head

    - hash = Digest::SHA1.hexdigest "Автор: Андрей Ситник <andrey@sitnik.ru>\n"
    = "<!-- #{hash} -->".html_safe
  %body.no-js{ class_if('development', !Rails.env.production?) }
    :javascript
      plague.initBodyClasses();
    .full-loader
      .center
        Загрузка…
        .ouroboros

    = yield

    .flash-messages
    = render 'shared/feedback'
    = render 'shared/notices'
