!!! 5
%html
  %head
    %meta( charset='UTF-8' )
    %title
      - title = yield(:title)
      = title.present? ? title + ' — ' +story['title'] : story['title']

    = favicon_link_tag
    = enable_html5_for_ie
    - if Rails.env.production?
      :css
        #{Rails.root.join('public/assets/quick.css').read}
    - else
      = stylesheet_link_tag :quick, media: :all, type: nil
    = stylesheet_link_tag :application, media: :all, type: nil
    = include_fonts

    = render 'shared/console'
    = include_jquery
    = javascript_include_tag :application, type: nil

    %link( rel="alternate" type="application/atom+xml" href="/posts.atom" )

    = yield :head

    - if Rails.env.production?
      = render 'shared/counter'

    - hash = Digest::SHA1.hexdigest "Автор: Андрей Ситник <andrey@sitnik.ru>\n"
    = "<!-- #{hash} -->".html_safe
  %body.no-js
    :javascript
      plague.initBodyClasses();
    .full-loader
      .center
        Загрузка…
        .ouroboros
    = yield
    .flash-messages
    .old-browser-notice.diagonal-background
      В более современном браузере сайт гораздо удобнее.
      Установите, например,
      <a href="http://www.google.com/chrome?hl=ru">Google Chrome</a>.
    .no3d-notice
      .banner
        .text 3D
        .line
      .description.diagonal-background
        В браузере с поддержкой 3D сайт будет красивее.
        Можете, например, скачать
        <a href="http://www.google.com/chrome?hl=ru">Google Chrome</a>.
    .disabled-js
      Если включить JavaScript, то сайт станет гораздо удобнее.
