!!! 5
%html
  %head
    %meta( charset='UTF-8' )
    %title
      - title = yield(:title)
      = title.present? ? title + ' — ' +story['title'] : story['title']

    = favicon_link_tag
    = enable_html5_for_ie
    = include_jquery
    = yield :head

    - if Rails.env.production?
      = render 'shared/counter'
  %body
    = yield
