!!! 5
%html
  %head
    %meta( charset='UTF-8' )
    = favicon_link_tag
    = enable_html5_for_ie
    = yield :head
    = include_jquery
    = javascript_include_tag :tracker, type: nil
  %body
    = yield
